<STYLE type=text/css> 
.F1 {
	font-size : 17px;
	font-family : ""MS Sans Serif"";
}
.F2 {
	font-size : 11px;
	font-family : ""MS Sans Serif"";
}
.F3 {
	font-size : 12px;
	font-family : ""MS Sans Serif"";
}
.F4 {
	font-size : 15px;
	font-family : ""MS Sans Serif"";
}
.h {
	font-size : 30px;
	font-family : ""AngsanaUPC"";
}
</STYLE>
