<?xml version="1.0"?>
<configuration>
		<system.web>
		
		<compilation defaultLanguage="vb" debug="true"/>
		<customErrors mode="Off"/>
		
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
	
	<appSettings>
		<!--<add key="ConnectionInfo" value="server=(local);database=Northwind;Integrated Security=SSPI" /></add>-->
		<add key="picURL" value="http://localhost/autoonclick/" />
		<add key="userURL" value="http://localhost/userData/" />
		<add key="picVD" value="/autoonclick" />
		<add key="userVD" value="/userData" />
		<add key="firstDate" value="01/01/0001" />
		<add key="firstDateTH" value="01/01/0544" />
		<add key="ConstYear" value="543" />
		<add key="Conn" value="Provider=SQLOLEDB.1;UID=auto_onclick_com_auto_search;PWD=Auto15S;DATABASE=auto_onclick_com_auto_search;SERVER=127.0.0.1;" />
		<!--<add key="Conn" value="Provider=SQLOLEDB.1;UID=auto_onclick_com_auto_search;PWD=Auto15S;DATABASE=auto_onclick_com_auto_search;SERVER=172.16.20.140;" />CPLI052621-->
		<!--<add key="picURL" value="http://www.auto-onclick.com/" />-->
		<!--<add key="firstDate" value="01/01/0544" />-->
	</appSettings>
	
	
	<!-- Handler configuration for Ajax.NET Professional -->
	
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro"/>
			</httpHandlers>
			<!--
				If you need to have Ajax.NET Professional methods running on the
				login page you may have to enable your own authorization configuration
				here.
			-->
			<!--
			<authorization>
				<deny users="?"/>
			</authorization>
			-->
		</system.web>
	</location>
	<location path="ajaximage">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxBitmapHttpHandler,AjaxPro"/>
			</httpHandlers>
		</system.web>
	</location>
</configuration>
