body {text-align:center; padding:0; margin:0; font-family:"MS Sans Serif","Tahoma","Arial","Thonburi"; font-size:11px; color:#384b66; font-weight:normal;}
A {font-family:"Tahoma","Arial","Thonburi"; font-size:11px; font-weight:normal; color:#384b66; text-decoration:none;}
td, th, textarea, input, select, legend {font-family:"Tahoma","Arial","Thonburi"; font-size:11px; color:#384b66; font-weight:normal;}

IMG.header_right {position:absolute; left:100%; margin:0 0 0 -203px; padding:0 203px 0 0; border:0;}
DIV.top {background:url(../images/ao_heading_800x99_l.jpg) no-repeat #3C5D93; width:100%; height:99px;} 
IMG.compare_text {position:absolute; padding:0; margin:0 0 0 -197px; border:0; left:50%; top:16px;}
DIV.top FIELDSET {background:url(../images/sort_t_3.gif) no-repeat; margin:50px 0 0 -150px; padding:0; width:301px; height:30px; overflow:hidden; display:inline; border:0; position:absolute; left:50%}
DIV.top FIELDSET UL {width:303px; margin:0; padding:0;}
DIV.top FIELDSET LI {padding:5px 10px 0 10px; width:281px; margin:0; list-style:none; float:left;}
* html DIV.top FIELDSET LI {width:301px; /*/*/widt\h:281px; /* */}
DIV.top FIELDSET LABEL {float:left; display:inline; width:72px; line-height:20px; margin:0; padding:0; font-weight:bold; color:#2F3F55;}
DIV.top FIELDSET SELECT {float:left; width:139px; margin:1px 5px 0 5px;}
DIV.top FIELDSET A {display:inline; float:left; color:#ffffff; font-weight:bold; height:20px; text-align:center; line-height:20px;}
DIV.top FIELDSET A:link, DIV.top FIELDSET A:visited {background-image:url(../images/button_60_00.gif); width:60px;}
DIV.top FIELDSET A:hover, DIV.top FIELDSET A:focus {background-image:url(../images/button_60_01.gif); width:60px;}
DIV.bottom {width:100%; padding:0; margin:0; height:50px; background:url(../images/ao_compare_bottom.jpg) no-repeat #3C5D93;}
DIV.bottom A {display:block; color:#ffffff; font-weight:bold; height:20px; text-align:center; line-height:20px; position:absolute; left:50%; top:17px; margin:0 0 0 -50px;}
DIV.bottom A:link, DIV.bottom A:visited {background-image:url(../images/button_100_00.gif); width:100px;}
DIV.bottom A:hover, DIV.bottom A:focus {background-image:url(../images/button_100_01.gif); width:100px;}

table {background-color:#ffffff;}
table TH {background-color:#D6DBE5;}
table TH SPAN {background-color:#DFE4F5; text-align:right;}
table#equip2 TBODY TH SPAN {text-align:center;}

table#pic {padding:0; border-spacing:0 0; table-layout:fixed; margin:0 auto;}
table#pic TR {padding:0; margin:0;}
table#pic THEAD {padding:0; margin:0;}
table#pic THEAD TH {margin:0; padding:0; background:url(../images/bg_h4_gb_t_778497.gif) repeat-x #B4C1D4; border:solid #778497; border-width:0 1px; width:129px;}
* html table#pic THEAD TH {width:131px; /*/*/widt\h:129px; /* */}
table#pic THEAD TD {margin:0; padding:3px 24px 0px 24px; width:172px; background:url(../images/bg_sub_h4_g_t_AEB4C0.gif) no-repeat #EBF1FD; border-left:1px solid #ffffff; border-right:1px solid #AEB4C0; vertical-align:top; text-align:center;}
* html table#pic THEAD TD {width:222px; /*/*/widt\h:172px; /* */}
table#pic THEAD TD A {line-height:16px; font-weight:bold; text-decoration:underline; font-size:12px;}
table#pic THEAD TD A:hover, table#pic THEAD TD A:focus {color:#7487A2;}
table#pic TBODY TH {padding:0; margin:0; width:129px; border:solid #a9b1bd; border-width:0 1px 0 1px; vertical-align:top;}
* html table#pic TBODY TH {width:131px; /*/*/widt\h:129px; /* */}
table#pic TBODY TH IMG {position:relative; left:0; top:0; float:left; margin:0 -1px;}
* html table#pic TBODY TH IMG {float:none;}
table#pic TBODY TD {padding:10px 9px 10px 9px; margin:0; border-right:1px solid #b9c1cd; border-bottom:1px solid #b9c1cd; border-left:1px solid #ffffff; width:202px; vertical-align:top;}
* html table#pic TBODY TD {width:222px; /*/*/widt\h:202px; /* */}

table#pic TBODY TD.first {padding:13px 9px 5px 9px; background:url(../images/bg_h3_g_b_AEB4C0.gif) repeat-x;}
table#pic TBODY TD.first UL {padding:0; margin:0;}
table#pic TBODY TD.first LI {float:left; padding:0 0 5px 0; margin:0; list-style:none; text-align:left; line-height:11px;}
table#pic TBODY TD.first LI.l {width:38px; margin-right:15px; clear:left; text-align:right;}
table#pic TBODY TD.first LI.r {width:149px; font-weight:bold;}
table#pic TBODY TD.first LI.r SPAN {color:#ff8800;}
table#pic TBODY TD A IMG.photo {text-align:center; vertical-align:middle; padding:0; margin:0; border:solid #656d7d; border-width:0 2px 2px 0;}

table#pic TFOOT TH {padding:0; margin:0; width:129px; border:solid #a9b1bd; border-width:0 1px;}
* html table#pic TFOOT TH {width:131px; /*/*/widt\h:129px; /* */}
table#pic TFOOT TD {padding:7px 9px; margin:0; border-right:1px solid #b9c1cd; border-left:1px solid #ffffff; width:202px; text-align:center;}
* html table#pic TFOOT TD {width:222px; /*/*/widt\h:202px; /* */}
table#pic TFOOT TD P {padding:0; margin:2px auto; list-style:none; width:82px; text-align:left;}
table#pic TFOOT TD P IMG {vertical-align:top; margin:2px 5px 0 0; padding:0; border:0;}
table#pic TFOOT TD P A {padding:0; margin:0; width:67px; text-decoration:underline;}
table#pic TFOOT TD P A:hover, table#pic TFOOT TD P A:focus {color:#7487A2;}

table#data, table#more_i, table#equip, table#contact, table#equip2 {padding:0; border-spacing:0 0; table-layout:fixed; margin:0 auto;}
table#contact {border-bottom:1px solid #b9c1cd;}
table#data TR, table#more_i TR, table#equip TR, table#contact TR, table#equip2 TR {padding:0; margin:0;}
table#data THEAD, table#more_i THEAD, table#equip THAED, table#contact THAED, table#equip2 THAED {padding:0; margin:0;}
table#data THEAD TH, table#more_i THEAD TH, table#equip THEAD TH, table#contact THEAD TH, table#equip2 THEAD TH {margin:0; padding:0; background:url(../images/bg_h4_gb_778497.gif); border:solid #778497; border-width:0 1px 1px 1px; width:129px;}
* html table#data THEAD TH, * html table#more_i THEAD TH, * html table#equip THEAD TH, * html table#contact THEAD TH, * html table#equip2 THEAD TH {width:131px; /*/*/widt\h:129px; /* */}
table#data THEAD TD, table#more_i THEAD TD, table#equip THEAD TD, table#contact THEAD TD, table#equip2 THEAD TD {margin:0; padding:4px 24px 3px 24px; width:172px; background:url(../images/bg_sub_h4_g_AEB4C0.gif); border-left:1px solid #ffffff; border-right:1px solid #AEB4C0; vertical-align:top; line-height:15px; font-weight:bold; text-align:center;}
* html table#data THEAD TD, * html table#more_i THEAD TD, * html table#equip THEAD TD, * html table#contact THEAD TD, * html table#equip2 THEAD TD {width:222px; /*/*/widt\h:172px; /* */}

table#data TBODY TH, table#contact TBODY TH, table#equip2 TBODY TH {padding:5px 5px 0 5px; margin:0; border:solid #a9b1bd; border-width:0 1px; line-height:15px; width:119px; vertical-align:top;}
* html table#data TBODY TH, * html table#contact TBODY TH, * html table#equip2 TBODY TH {width:131px; /*/*/widt\h:119px; /* */}
table#data TBODY TH SPAN, table#contact TBODY TH SPAN, table#equip2 TBODY TH SPAN {padding:3px 5px 2px 5px; width:109px; display:block; background:url(../images/bg_th_dv.gif) repeat-x;}
* html table#data TBODY TH SPAN, * html table#contact TBODY TH SPAN, * html table#equip2 TBODY TH SPAN {width:119px; /*/*/widt\h:109px; /* */}
table#data TBODY TD, table#contact TBODY TD, table#equip2 TBODY TD {padding:5px 5px 0 5px; margin:0; border-right:1px solid #b9c1cd; border-left:1px solid #ffffff; line-height:15px; width:210px; vertical-align:bottom;}
* html table#data TBODY TD, * html table#contact TBODY TD, * html table#equip2 TBODY TD {width:222px; /*/*/widt\h:210px; /* */}
table#data TBODY TD SPAN, table#contact TBODY TD SPAN, table#equip2 TBODY TD SPAN {padding:3px 5px 2px 5px; border-bottom:1px solid #CDD5E1; width:200px; display:block; text-align:left;}
table#contact TBODY TD SPAN A {line-height:15px; text-decoration:underline;}
table#contact TBODY TD SPAN A:hover, table#contact TBODY TD SPAN A:focus {color:#7487A2;}
table#data TFOOT TH, table#contact TFOOT TH {padding:5px 5px 0 5px; margin:0; border:solid #a9b1bd; border-width:0 1px; line-height:15px; width:119px; vertical-align:top;}
* html table#data TFOOT TH, * html table#contact TFOOT TH {width:131px; /*/*/widt\h:119px; /* */}
table#data TFOOT TH SPAN, table#contact TFOOT TH SPAN {padding:3px 5px 2px 5px; margin:0 0 5px 0; width:109px; display:block; background:url(../images/bg_th_dv.gif) repeat-x;}
* html table#data TFOOT TH SPAN, * html table#contact TFOOT TH SPAN {width:119px; /*/*/widt\h:109px; /* */}
table#data TFOOT TD, table#contact TFOOT TD {padding:5px 5px 0 5px; margin:0; border-right:1px solid #b9c1cd; border-left:1px solid #ffffff; line-height:15px; width:210px; vertical-align:bottom;}
* html table#data TFOOT TD, * html table#contact TFOOT TD {width:222px; /*/*/widt\h:210px; /* */}
table#data TFOOT TD SPAN, table#contact TFOOT TD SPAN {padding:3px 5px 0 5px; border-bottom:1px solid #CDD5E1; width:200px; display:block; text-align:left; margin:0 0 5px 0}

table#equip2 TBODY TH {border-bottom:1px solid #a9b1bd;}
table#equip2 TBODY TH.last {border-bottom:0;}
table#equip2 TBODY TD {line-height:15px; padding:0 10px; text-align:left; width:200px; color:#C5D1E3;}
table#equip2 TBODY TD.info {color:#384b66;}
* html table#equip2 TBODY TD {width:222px; /*/*/widt\h:200px; /* */}
table#equip2 TBODY TD.first {padding-top:8px;}
table#equip2 TBODY TD.separator {padding-bottom:8px; border-bottom:1px solid #CDD5E1;}
table#equip2 TBODY TD.last {padding-bottom:8px;}


table#more_i TBODY TH, table#equip TBODY TH {padding:0; margin:0; width:129px; border:solid #a9b1bd; border-width:0 1px;}
* html table#more_i TBODY TH, * html table#equip TBODY TH {width:131px; /*/*/widt\h:129px; /* */}
table#more_i TBODY TD, table#equip TBODY TD {padding:7px 10px; margin:0; width:200px; border-right:1px solid #b9c1cd; border-left:1px solid #ffffff; line-height:17px; text-align:left;}
* html table#more_i TBODY TD, * html table#equip TBODY TD {width:222px; /*/*/widt\h:200px; /* */}




























