.sdmenu
{
    FONT-SIZE: 12px;
    BACKGROUND: url(bottom.gif) #eee no-repeat right bottom;
    PADDING-BOTTOM: 10px;
    WIDTH: 150px;
    COLOR: #ffffff;
    FONT-FAMILY: MS Sans Serif, Tahoma;
}
.sdmenu .title
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    BACKGROUND: url(title.gif) #fff repeat-x;
    PADDING-BOTTOM: 5px;
    CURSOR: hand;
    COLOR: white;
    PADDING-TOP: 5px
}
.sdmenu .titlehidden
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    BACKGROUND: url(title.gif) #fff repeat-x;
    PADDING-BOTTOM: 5px;
    CURSOR: hand;
    COLOR: white;
    PADDING-TOP: 5px
}
.sdmenu .title
{
    BORDER-BOTTOM: #ddd 1px solid
}
.sdmenu .arrow
{
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 7px
}
.sdmenu .titlehidden
{
    BORDER-BOTTOM: medium none
}
.sdmenu #top
{
    BACKGROUND: url(toptitle.gif) no-repeat
}
.sdmenu .submenu
{
    OVERFLOW: hidden
}
.sdmenu .submenu A
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: #eee;
    PADDING-BOTTOM: 5px;
    COLOR: #066;
    TEXT-INDENT: 10px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ddd 1px solid;
    TEXT-DECORATION: none
}
.sdmenu .submenu A:hover
{
    BACKGROUND: url(linkarrow.gif) #066 no-repeat right center;
    COLOR: #fff
}
