a.kkkkk:link {display:block;background-color:;color:#333333;font-family:Arial,sans-serif;font-size:11px;text-decoration:none;border-style:solid;border-width:0px;padding:2px;width:60px;height:18px;text-align:center;vertical-align:middle;background-image:url(button_00.gif);}

a.kkkkk:visited {display:block;background-color:;color:#000000;font-family:Arial,sans-serif;font-size:11px;border-style:solid;border-width:0px;width:60px;height:18px;text-align:center;vertical-align:middle;}

a.kkkkk:hover {display:block;background-color:;color:#000000;font-family:Arial,sans-serif;font-size:11px;text-decoration:none;border-style:solid;border-width:0px;width:60px;height:18px;text-align:center;vertical-align:middle;background-image:url(button_01.gif);}

a.kkkkk:active {display:block;background-color:;color:#000000;font-family:Arial,sans-serif;font-size:11px;border-style:solid;border-width:0px;width:60px;height:18px;text-align:center;vertical-align:middle;}
.juria { border-bottom: 2px; border-left: 5px; border-style:solid; color:#993333; font-family:Arial, Helvetica, sans-serif; background-color:#33CC99;  padding-right:50px}
.test
{
	border-right: #ffff66 thin solid;
	border-top: #ffff66 thin solid;
	border-left: #ffff66 thin solid;
	border-bottom: #ffff66 thin solid;
	background-color: #ffff66;
}
