.Font_white {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #ffffff;
}
.Font_black {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #333333;
}
.Font_black_u {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #333333;
	text-decoration: underline;
}
.Font_black_u_over
{
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #CC7A00;
	text-decoration: underline;
}
.Font_black_LH_15px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 15px;
	color: #333333;
}
.Font_black_LH_17px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 17px;
	color: #333333;
}
.Font_black_bold  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.Font_sm_black {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	color: #333333;
}
.Font_sm_black_LH_15px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	line-height: 15px;
	color: #333333;
}
.Font_blue {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #2a60ae;
}
.Font_blue_LH_15px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 15px;
	color: #2a60ae;
}
.Font_blue_LH_17px  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 17px;
	color: #2a60ae;
}
.Font_blue_bold  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #2a60ae;
}
.Font_sm_blue {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	color: #2a60ae;
}
.Font_sm_blue_LH_14px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	line-height: 14px;
	color: #2a60ae;
}
.Font_sm_blue_LH_15px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	line-height: 15px;
	color: #2a60ae;
}
.Font_orange  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #ff9900;
}
.Font_orange_LH_15  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 15px;
	color: #ff9900;
}
.Font_orange_LH_17  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	line-height: 17px;
	color: #ff9900;
}
.Font_orange_bold  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #ff9900;
}
.Font_sm_orange {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	color: #ff9900;
}
.Font_sm_orange_LH_15px {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
	line-height: 15px;
	color: #ff9900;
}
.Font_grey  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #999999;
}
.Font_red  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #FF0000;
}
.Font_red_bold  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}

.Font_green  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #009900;
}
.Font_green_bold  {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #009900;
}
.Font_brown {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #CC7A00;
}
.Font_U_Pages {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	color: #333333;
	cursor: hand;
    text-decoration: underline;
}
.H1_white {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.H2_white {
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
    padding-left: 5px;
	color: #FFFFFF;
}
.Padding_R_5px {
	padding-right: 5px;
}
.Padding_L_5px {
	padding-left: 5px;
}
.Padding_T_5px {
	padding-top: 5px;
}
.Padding_B_5px {
	padding-bottom: 5px;
}
.Padding_TB_5px {
    padding-top: 5px;
	padding-bottom: 5px;
}
.Padding_RL_5px {
    padding-right: 5px;
	padding-left: 5px;
}
.Padding_TRB_5px {
    padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.Padding_T_4px {
    padding-top: 4px;
}
.Padding_B_4px {
    padding-bottom: 4px;
}
.Padding_TB_4px {
    padding-top: 4px;
	padding-bottom: 4px;
}
.Padding_T_3px {
    padding-top: 3px;
}
.Padding_B_3px {
    padding-bottom: 3px;
}
.Padding_TB_3px {
    padding-top: 3px;
	padding-bottom: 3px;
}
.Padding_B_3px_Border_B_white {
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.TextArea-NoBorder {
	SCROLLBAR-FACE-COLOR: #f2f5f9;
	FONT-SIZE: 11px;
	SCROLLBAR-HIGHLIGHT-COLOR: #f2f5f9;
	SCROLLBAR-SHADOW-COLOR: #f2f5f9;
	SCROLLBAR-3DLIGHT-COLOR: #f2f5f9;
	SCROLLBAR-ARROW-COLOR: #2a60ae;
	SCROLLBAR-TRACK-COLOR: #f2f5f9;
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	SCROLLBAR-DARKSHADOW-COLOR: #f2f5f9;
	SCROLLBAR-BASE-COLOR: #f2f5f9;
	BACKGROUND-COLOR: #f2f5f9;
	border: none;
	line-height: 14px;
}
.All_Border_orange {
	border: 1px solid #ff9900;
}
.All_Border_blue {
	border: 1px solid #2A60AE;
}
.All_Border_black {
	border: 1px solid #000000;
}
.All_Border_grey {
	border: 1px solid #A3B8CD;
}
.All_Border_bu_contact {
	border: 1px solid #7F9DB9;
}
.Page_Number {
	word-spacing: 3px;
	font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
	font-size: 10px;
}
.dtl_pic {
	padding: 5px;
	border: 1px solid #2a60ae;
}
.dtl_pic2 {
	padding: 3px;
	border: 1px solid #2A60AE;
}
.dtl_pic_gr {
	padding: 5px;
	border: 1px solid #00BE00;
}
.dtl_pic_re {
	padding: 5px;
	border: 1px solid #DC0000;
}
.dtl_pic_pu {
	padding: 5px;
	border: 1px solid #BE00BE;
}
.A_blue_underline:link {
	color: #2a60ae;
	text-decoration: underline;
}
.A_blue_underline:visited {
	color: #2a60ae;
	text-decoration: underline;
}
.A_blue_underline:hover {
	color: #CC7A00;
	text-decoration: underline;
}
.A_black2_underline:link {
	color: #333333;
	text-decoration: underline;
}
.A_black2_underline:visited {
	color: #333333;
	text-decoration: underline;
}
.A_black2_underline:hover {
	color: #2a60ae;
	text-decoration: underline;
}
.A_PC_black_underline:link {
	color: #333333; 
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_black_underline:visited {
	color: #333333;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_black_underline:hover {
	color: #333333;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_red_underline:link {
	color:#FF0000;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_red_underline:visited {
	color: #FF0000;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_red_underline:hover {
	color: #FF0000;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_green_underline:link {
	color:#009900;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_green_underline:visited {
	color: #009900;
	font-weight:bold;
	text-decoration: underline;
}
.A_PC_green_underline:hover {
	color: #009900;
	font-weight:bold;
	text-decoration: underline;
}
.A_on:link {
	color:#333333;
	text-decoration: underline;
}
.A_on:visited {
	color: #333333;
	text-decoration: underline;
}
.A_on:hover {
	color: #333333;
	text-decoration: underline;
}
.A_off:link {
	color:#999999;
	text-decoration: underline;
}
.A_off:visited {
	color: #999999;
	text-decoration: underline;
}
.A_off:hover {
	color: #999999;
	text-decoration: underline;
}
.A_brown_underline:link {
	color: #CC7A00;
	text-decoration: underline;
}
.A_brown_underline:visited {
	color: #CC7A00;
	text-decoration: underline;
}
.A_brown_underline:hover {
	color: #CC7A00;
	text-decoration: underline;
}

.fontBl {
	color: #333333;
	text-decoration: underline;
}
.fontBl1 {
	color: #CC7A00;
	text-decoration: underline;
}

.A_black_underline:link {
	color: #333333;
	text-decoration: underline;
}
.A_black_underline:visited {
	color: #333333;
	text-decoration: underline;
}
.A_black_underline:hover {
	color: #CC7A00;
	text-decoration: underline;
}
.A_black_NOunderline:link {
	color: #333333;
	text-decoration: none;
}
.A_black_NOunderline:visited {
	color: #333333;
	text-decoration: none;
}
.A_black_NOunderline:hover {
	color: #CC7A00;
	text-decoration: none;
}
.A_black_NOunderline2:link 
{
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.A_black_NOunderline2:visited 
{
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.A_black_NOunderline2:hover 
{
	font-size: 11px;
	color: #CC7A00;
	text-decoration: none;
}
.A_H_bold_white_underline:link {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}
.A_H_bold_white_underline:visited {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}
.A_H_bold_white_underline:hover {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}
.A_BU_bold_white:link {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.A_BU_bold_white:visited {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.A_BU_bold_white:hover {
	font-weight: bold;
	color: #ff9900;
	text-decoration: none;
}
.A_BU_bold_orange:link {
	font-weight: bold;
	color: #ff9900;
	text-decoration: none;
}
.A_BU_bold_orange:visited {
	font-weight: bold;
	color: #ff9900;
	text-decoration: none;
}
.A_BU_bold_orange:hover {
	font-weight: bold;
	color: #ff9900;
	text-decoration: none;
}
 a.A50:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:50px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button50_19_00.gif);
}
a.A50:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:50px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button50_19_00.gif);
}
a.A50:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:50px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button50_19_01.gif);
}
a.A60:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_00.gif);
}
a.A60:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_00.gif);
}
a.A60:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_01.gif);
}
a.A60_inactive:link {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_00.gif);
}
a.A60_inactive:visited {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_00.gif);
}
a.A60_inactive:hover {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button60_19_00.gif);
}
a.A70:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:70px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button70_19_00.gif);
}
a.A70:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:70px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button70_19_00.gif);
}
a.A70:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:70px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button70_19_01.gif);
}
a.A80:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A80:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A80:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_01.gif);
}
a.A80_inactive:link {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A80_inactive:visited {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A80_inactive:hover {
   display:block;
   color:#999999;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A90:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:90px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A90:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:90px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_00.gif);
}
a.A90:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:90px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button80_19_01.gif);
}
a.A100:link {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button100_19_00.gif);
}
a.A100:visited {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button100_19_00.gif);
}
a.A100:hover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:19px;
   text-align:center;
   line-height:19px;
   background-image:url(../images/buttons/button100_19_01.gif);
}
a.SEARCH:link {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:75px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/search_00.gif);
}
a.SEARCH:visited {
   display:block;
   color:#38547A;
   font-weight:bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:75px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/search_00.gif);
}
a.SEARCH:hover {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:75px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/search_01.gif);
}
a.OFFER:link {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:98px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/offer_00.gif);
}
a.OFFER:visited {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:98px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/offer_00.gif);
}
a.OFFER:hover {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:98px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/offer_01.gif);
}
a.SO:link {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:102px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/special_offer_00.gif);
}
a.SO:visited {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:102px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/special_offer_00.gif);
}
a.SO:hover {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:102px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/special_offer_01.gif);
}
a.DEALER:link {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:108px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/dealer_00.gif);
}
a.DEALER:visited {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:108px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/dealer_00.gif);
}
a.DEALER:hover {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:108px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/dealer_01.gif);
}
a.COMPANY:link {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:97px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/company_00.gif);
}
a.COMPANY:visited {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:97px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/company_00.gif);
}
a.COMPANY:hover {
   display:block;
   color:#38547A;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:97px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/company_01.gif);
}
a.LOGIN:link {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/login_00.gif);
}
a.LOGIN:visited {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/login_00.gif);
}
a.LOGIN:hover {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/logout_01.gif);
}
a.LOGOUT:link {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/logout_01.gif);
}
a.LOGOUT:visited {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/logout_01.gif);
}
a.LOGOUT:hover {
   display:block;
   color:#ffffff;
   font-weight: bold;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:100px;
   height:21px;
   text-align:center;
   line-height:21px;
   background-image:url(../images/main_table/login_00.gif);
}
a.HORI25:link {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:25px; 
   padding-left:25px;
   line-height:25px;
   background-image:url(../images/main_table/button_verti_navi_140x25_00.gif);
}
a.HORI25:visited {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:25px; 
   padding-left:25px;
   line-height:25px;
   background-image:url(../images/main_table/button_verti_navi_140x25_00.gif);
}
a.HORI25:hover {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:25px; 
   padding-left:25px;
   line-height:25px;
   background-image:url(../images/main_table/button_verti_navi_140x25_01.gif);
}
a.HORI40:link {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:35px; 
   padding-left:25px;
   padding-top:5px;
   line-height:15px;
   background-image:url(../images/main_table/button_verti_navi_140x40_00.gif);
}
a.HORI40:visited {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:35px; 
   padding-left:25px;
   padding-top:5px;
   line-height:15px;
   background-image:url(../images/main_table/button_verti_navi_140x40_00.gif);
}
a.HORI40:hover {
   display:block;
   color:#ffffff;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:115px;
   height:35px; 
   padding-left:25px;
   padding-top:5px;
   line-height:15px;
   background-image:url(../images/main_table/button_verti_navi_140x40_01.gif);
}

INPUT.button {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   border:0px;
   background-image:url(../images/buttons/button80_19_00.gif);
}

INPUT.buttonover {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:80px;
   height:19px;
   text-align:center;
   line-height:19px;
   border:0px;
   background-image:url(../images/buttons/button80_19_01.gif);
}

INPUT.button60 {
   display:block;
   color:#000000;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   border:0px;
   background-image:url(../images/buttons/button80_19_00.gif);
}

INPUT.buttonover60 {
   display:block;
   color:#222222;
   font-weight: normal;
   font-family: "MS Sans Serif","Tahoma","Arial","Thonburi";
   font-size:11px;
   text-decoration:none;
   width:60px;
   height:19px;
   text-align:center;
   line-height:19px;
   border:0px;
   background-image:url(../images/buttons/button80_19_01.gif);
}