.textBold1 {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4B187A;
}
.Box1 {
	border: 1px solid #CCCCCC;
}
.bkNonrepeat {
	background-image: url(image/left01_02.gif);
	background-repeat: no-repeat;
}
.textnormal1 {
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}
.Box2 {
	height: 18px;
	width: 100px;
	border: 1px solid #999999;
}
.textBold2 {

	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.textBold3 {


	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.textBold4 {



	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
}
.Box3 {

	border: 1px solid #B57EE5;
}
.Box4 {
	border: 1px solid #0099CC;
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;

}
