.headline_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
}
.standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.small_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.grey_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
.font_11_line_19 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 19px;
}
.font_11_line_15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
}
.font_11_line_17 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
}
.white_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.orange_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
}
.small_orange_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
}
.orange_bold_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
}
.small_grey_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
}
.blue_bold__font_12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
	font-weight: bold;
}
.red_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.green_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
}
.font_11_line_17_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	color: #FFFFFF;
}
.font_11_line_17_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2a60ae;
	line-height: 17px;
}
.black_bold_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.ao_blue_standard_font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2a60ae;
}
.ao_blue_standard_font_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2a60ae;
}
.box1 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.small_standard_font_line_15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
}
.font_11_line_15_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #2A60AE;
}
.textarea-noborder {
	SCROLLBAR-FACE-COLOR: #f5f5f5;
	FONT-SIZE: 11px;
	SCROLLBAR-HIGHLIGHT-COLOR: #f5f5f5;
	SCROLLBAR-SHADOW-COLOR: #f5f5f5;
	SCROLLBAR-3DLIGHT-COLOR: #f5f5f5;
	SCROLLBAR-ARROW-COLOR: #2a60ae;
	SCROLLBAR-TRACK-COLOR: #f5f5f5;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	SCROLLBAR-DARKSHADOW-COLOR: #f5f5f5;
	SCROLLBAR-BASE-COLOR: #f5f5f5;
	BACKGROUND-COLOR: #f5f5f5;
	border: none;
	line-height: 14px;
}
.font_10_line_14_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #2a60ae;
}
.all_border_orange {
	border: 1px solid #ff9900;
}
.all_border_blue {
	border: 1px solid #2A60AE;
}
.page_number {
	word-spacing: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.font_11_line_16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
.all_border_black {
	border: 1px solid #000000;
}
.all_border_grey {
	border: 1px solid #dddddd;
}
